.header-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding-top: 7vh;
	// min-height: 200vh; /* Ensure at least full screen height */
	display: flex;
	justify-content: center;
	gap: 7vw;
	// align-items: center;
	// background-image: url('../assets/background.png');
	// background-size: 100% auto; /* Scale the width to 100%, height adjusts automatically */
	// background-position: center;
	// background-repeat: no-repeat; /* Ensures the image is not repeated */
	// overflow-y: scroll; /* Allows scrolling if the image height exceeds the screen height */
}

.word-search {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;    /* center horizontally */
  gap: 5vh;              /* space between elements vertically */
}

.word-search img,
.word-search .article-bank {
  width: 100%;    /* both elements take same width */
  max-width: 700px; /* optional: cap the width */
}