.header-container {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 7vh;
	display: flex;
	justify-content: center;
	// gap: 2vw;
}

.word-search {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 1vh;              
  margin: 0vh 1.5vh;
}

.word-search img,
.word-search .article-bank {
  width: 100%;    
  max-width: 500px; 
  margin: 0 2vw;
}

@media (max-width: 768px) {
	.header-container {
        flex-direction: column;
        align-items: center;
        padding-top: 4vh;
    }
    .word-search {
        width: 80vw;
        max-width: 320px;
    }
    .word-search img,
    .word-search .article-bank {
        width: 100%;
        max-width: 320px;
        margin: 0;
    }
}