// part of ArticleGallery component
.letter-with-arrows {
    display: flex;
    flex-direction: column; 
    margin-top: 10vh;
    height: auto;
    align-items: center;   
}

.arrows-and-progress-bar {
    display: flex;
    margin-top: 5%;
    height: auto; 
    align-items: center; 
    justify-content: center;
}

.arrow {
  width: 50px;
  height: 50px;
  all: unset;
//   font-size: 50px;
//   color: white;
//   background-color: rgba(0, 0, 0, 0.2); /* Translucent background */
  border: none;
  border-radius: 50%; /* Makes it round */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease; 
  margin: 0 20px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}

.arrow.left {
    display: flex;
    align-self: center;
    align-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.arrow.right {
    display: flex;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
}


/* Hover effect */
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

.placeholder {
  width: 50px;
  height: 50px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
}

.placeholder:hover {
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}

// part of the Article component
.postcard {
    width: 35vw;
    aspect-ratio: 1 / 1.1;
    margin: 0 2vw;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
	border-radius: 10px;
	border: 1.5px solid #7A0000;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.article-info {
    align-self: flex-start;
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
    color: #7A0000;
}

.article-info h2 {
    margin-top: 0;
    margin-bottom: 5px;
    max-width: 80%;
}

.article-info p {
    margin: 0;
    max-width: 80%;
}

.photo {
    text-align: center;
    align-self: center;
    bottom: 0;
    padding-bottom: 1rem;
    padding-top: 10%;
    max-height: 65%;
}

.photo img {
    width: 90%;
    height: auto;
    max-width: 95%;
}

@media screen and (max-width: 768px) {
    .letter-with-arrows {
       margin-top: 100px;
    }

    .postcard{
        width: 90vw;
    }

    .article-info {
        align-self: flex-start;
        padding: 1rem;
        width: 100%;
    }

    .stamp{
        display: none;
    }

    .photo img{
        width: 90%;
        height: auto;
    }
}