.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Default 2 cols */
	gap: 20px;
	margin: 20px;
	justify-items: center;
	align-items: center;
	row-gap: 4rem;
	padding: 3rem;
	padding-top: 10rem;
	column-gap: 15vw;
}

.grid-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-bottom: 3rem;
}
#load-more-button{
	all: unset;           /* remove all default styles (border, background, font, etc.) */
	display: inline-flex; /* allows you to align SVG and text if needed */
	align-items: center;  /* vertically centers content */
	justify-content: center; /* centers content horizontally */
	cursor: pointer;      /* still shows pointer on hover */
	padding: 0;           /* remove any padding */
}

#load-more-button:hover {
  transform: scale(1.05);  /* grows 10% on hover */
}

/* flexible for mobile devices */
/* Changed media query width here to be 768px */
@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr; /* One column for mobile */
	}

	.grid-container{
		align-self: center;
		padding: none;
	}
}
