* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 800px;
  width: 600px;
  aspect-ratio: 650 / 800;
}

.wrapper.front {
  background-image: url('../assets/love-note-front.svg');
  background-size: cover;
  background-position: center;
}

.wrapper.back {
  background-image: url('../assets/love-note-back.svg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .wrapper {
    height: 70vh;
    width: 90vw;
  }
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

.lid.one {
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

.lid.two {
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid;
  border-bottom: 100px solid;
  border-left: 150px solid;
  z-index: 3;
}

/* BLUE THEME */
.wrapper.blue{
  background-color: #3760c9;
}
.wrapper.blue .lid.one {
  border-top: 100px solid #658ced;
}
.wrapper.blue .lid.two {
  border-top: 100px solid #3760c9;
}
.wrapper.blue .envelope {
  border-right-color: #a4d4f2;
  border-bottom-color: #c4dff0;
  border-left-color: #a4d4f2;
}

/* PINK THEME */
.wrapper.pink{
  background-color: #ff85a2;
}
.wrapper.pink .lid.one {
  border-top: 100px solid pink;
}
.wrapper.pink .lid.two {
  border-top: 100px solid #ff85a2;
}
.wrapper.pink .envelope {
  border-right-color: #ffb6c1;
  border-bottom-color: #ffc0cb;
  border-left-color: #ffb6c1;
}

/* YELLOW THEME */
.wrapper.yellow{
  background-color: #ffeb99;
}
.wrapper.yellow .lid.one {
  border-top: 100px solid lightyellow;
}
.wrapper.yellow .lid.two {
  border-top: 100px solid #ffeb99;
}
.wrapper.yellow .envelope {
  border-right-color: #fffacd;
  border-bottom-color: #ffefc1;
  border-left-color: #fffacd;
}

.letter{

}

/* WebKit-based browsers (Chrome, Edge, Safari) */
.letter::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

.letter::-webkit-scrollbar-track {
  background: lightgray; /* Background of scrollbar */
}

.letter::-webkit-scrollbar-thumb {
  background: gray; /* Color of the scrollbar */
  border-radius: 4px;
}

.letter p {
  font-size: 1rem;
  /* margin-top: 3px; */
  color: #3b4049;
  padding-bottom: 20px;
}

.wrapper:hover .lid.one {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.wrapper:hover .lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.25s;
}

.wrapper:hover .letter {
  transform: translateY(-110px);
  transition-delay: 0.5s;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
